.btn {
    padding: 10px 22px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid transparent;
    &--rounded {
      border-radius: 3px;
    }
    &--wide {
      padding-left: 32px;
      padding-right: 32px;
    }
    &--wide2x {
      padding-left: 62px;
      padding-right: 62px;
    }
    &--primary {
      color: #282828;
      background-color: #fff;
    }
    &--lasso {
      background-color: #e1a236;
      color: #fff;
    }
    &--lassoOutlined {
      background-color: #fff;
      color: #e1a236;
      border: 1px solid #e1a236;
    }
    &--disabled {
      color: #959595;
      background-color: #eaeaea;
      cursor: not-allowed;
    }
  }